<main id="main">
  <div class="headeritems"></div>
  <!-- ======= Breadcrumbs ======= -->
  <div class="cabeza"></div>
  <section id="breadcrumbs" class="breadcrumbs">
    <div class="container">
      <!-- <ol>
            <li><a routerLink="home" ><i class='bx bxs-home-circle'></i></a></li>
            <li>Ciclo Preuniversitario Admisión 2021-2</li>
        </ol> -->
      <h2 class="ciclo__title">{{_asesoria.asesoria.titulo}}</h2>
      <p class="mensaje__pruebaselecciom"><i class="icofont-bullhorn"></i> La inscripción compromete a la separación de
        la matrícula </p>
      <!---botones descargas --->
      <div class="row float-center ">

        <div class="">
          <a  class="btn btn-sm link__inscripcion disabled" href="{{_asesoria.asesoria.link}}"><i class="icofont-ui-keyboard"></i>
            Inscripción</a>

        </div>
        <!-- <div id="prueba_seleccion" class="btn-group btn-group btn-group-sm modelo__prueba" role="group"
                  aria-label="Basic example">
                  <button class="btn ">Modelo Prueba</button>
                  <a href="assets/descargas/PS--BAS ADM.2019-1.pdf" target="_blank" type="button" class="btn "><i
                          class="icofont-paper"></i> 2019-1</a>
                  <a href="assets/descargas/PS--BAS ADM.2019-2.pdf" target="_blank" type="button" class="btn "><i
                          class="icofont-paper"></i> 2019-2</a>

              </div> -->
        <div id="prueba_seleccion" class="btn-group btn-group btn-group-sm archivos__asesoria" role="group"
          aria-label="Basic example">
          <a href="assets/descargas/brochure/brochure-asesoria.pdf" target="_blank" type="button" class="btn "><i
              class="icofont-list"></i> Brochure</a>
          <!-- <a href="assets/descargas/silabo/basico.pdf" target="_blank" type="button" class="btn "><i
              class="icofont-list"></i> Sílabo</a> -->

        </div>
      </div>


    </div>
    <!--- Fin botones descargas --->

  </section><!-- End Breadcrumbs -->
  <div class="tabs">

    <input type="radio" id="tab1" name="tab-control" checked>
    <input type="radio" id="tab2" name="tab-control">
    <input type="radio" id="tab3" name="tab-control">
    <input type="radio" id="tab4" name="tab-control">
    <input type="radio" id="tab5" name="tab-control">
    <ul class="ul">
      <li class="li" title="Información General"><label for="tab1" role="button"><i
            class="icofont-info-circle"></i><br><span>Información General</span></label></li>
      <li class="li" title="Requerimiento"><label for="tab2" role="button"><i class="icofont-school-bag"></i><br><span>
            Características</span></label></li>
      <li class="li" title="Ofrecemos"><label for="tab3" role="button"><i
            class="icofont-brain-alt"></i><br><span>Estrategias</span></label></li>
      <li class="li" title="Cronograma"><label for="tab4" role="button"><i
            class="icofont-ui-calendar"></i><br><span>Cronograma</span></label></li>
      <li class="li" title="Inscripción"><label for="tab5" role="button"><i
            class="icofont-group-students"></i><br><span>Inscripción</span></label></li>
    </ul>

    <div class="slider">
      <div class="indicator"></div>
    </div>
    <div class="content">
      <!-- ======= Portfolio Details Section =======  -->
      <section id="portfolio-details" class="portfolio-details">
        <!-- <div class="container"> -->
        <h2 class="movil__title">Información General</h2>
        <div class="alert alert-info alert-dismissible fade show" role="alert">
          Apertura limitada de salones presenciales <strong>(solo para estudiantes matriculados en el ciclo
            Preuniversitario 2022-2 en los locales de Javier Prado y de la UNI)</strong>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="alert alert-warning" role="alert">
          <i class="fas fa-address-card"></i> Contar con el carnet de vacunación
        </div>
        <div class="row">
          <div class="col-lg-5 col-md-6">
            <div class="icon-box">
              <a target="_blank" class="logo mr-auto"><img src="assets/img/ciclos/AsesoriaDetalle.png"
                  alt="Ciclo preuniversitario" class="img-fluid"></a>
              <!--<div class="card-body">
                                    <h4 class="title card-title"><a href="http://cepre.uni.pe/Inscripverano.php">Inscripción Intensivo I Virtual</a></h4>
                                   
                                  </div>-->
            </div>
          </div>

          <div class="col-lg-7 col-md-6">
            <div class="card">
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <!---horario --->
                  <div class="cicloinfo-fechas">
                    <div class="container-fluid">
                      <div class="row">
                        <div class="col-md-12col-sm-5">
                          <div class="text__pre__import fecha-icon font-weight-bold ">
                            {{_asesoria.asesoria.titulo}}
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                  <!--- Fin horario --->


                </li>
                <li class="list-group-item">
                  <!---horario --->
                  <div class="cicloinfo-fechas">
                    <div class="container-fluid">
                      <div class="row">
                        <div class="col-md-5 col-sm-5">
                          <div class="text__pre__import fecha-icon font-weight-bold"><i class="far fa-calendar-alt"></i>
                            Preinscripción</div>
                        </div>
                        <div class="col-md-7 col-sm-7">
                          {{_asesoria.asesoria.fecha_incripcionPrueba_desde}}
                          <!-- al
                          {{_asesoria.asesoria.fecha_incripcionPrueba_hasta}} -->
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--- Fin horario --->
                </li>
                <!-- <li class="list-group-item">
                                  <div class="cicloinfo-fechas">
                                      <div class="container-fluid">
                                          <div class="row">
                                              <div class="col-md-5 col-sm-5">
                                                  <div class="text__pre__import fecha-icon font-weight-bold"><i
                                                          class="far fa-calendar-alt"></i> Prueba de Selección
                                                  </div>
                                              </div>
                                              <div class="col-md-7 col-sm-7 text__pre">
                                                  {{_asesoria.asesoria.fecha_prueba}}
                                              </div>
                                              <div class="col-md-5 col-sm-5">
                                                  <div class="font-weight-bold">
                                                      Modelo de Prueba
                                                  </div>
                                              </div>
                                              <div class="col-md-7 col-sm-7 text__pre d-flex justify-content-center">
                                                  <div class="row">
                                                      <div class="btn-group btn-group btn-group-sm modelo__prueba"
                                                          role="group" aria-label="Basic example">

                                                          <a href="assets/descargas/PS--BAS ADM.2019-1.pdf" target="_blank" type="button" class="btn "><i
                                                              class="icofont-paper"></i> 2019-1</a>
                                                      <a href="assets/descargas/PS--BAS ADM.2019-2.pdf" target="_blank" type="button" class="btn "><i
                                                              class="icofont-paper"></i> 2019-2</a>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </li> -->
                <!-- <li class="list-group-item">
                                  <div class="cicloinfo-fechas">
                                      <div class="container-fluid">
                                          <div class="row">
                                              <div class="col-md-5 col-sm-5">
                                                  <div class="text__pre__import fecha-icon font-weight-bold"><i
                                                          class="fas fa-calendar-check"></i> Matrícula</div>
                                              </div>
                                              <div class="col-md-7 col-sm-7 text__pre">
                                                  {{_asesoria.asesoria.fecha_matricula}}</div>
                                          </div>
                                      </div>
                                  </div>
                              </li> -->
                <li class="list-group-item">
                  <!---horario --->
                  <div class="cicloinfo-fechas">
                    <div class="container-fluid">
                      <div class="row">
                        <div class="col-md-5 col-sm-5">
                          <div class="text__pre__import fecha-icon font-weight-bold"><i
                              class="fas fa-calendar-times"></i> Inicio de clases
                          </div>
                        </div>
                        <div class="col-md-7 col-sm-7 text__pre">
                          {{_asesoria.asesoria.fecha_inicio}}</div>
                      </div>
                    </div>
                  </div>
                  <!--- Fin horario --->

                </li>
                <li class="list-group-item">
                  <!---horario --->
                  <div class="cicloinfo-fechas">
                    <div class="container-fluid">
                      <div class="row">
                        <div class="col-md-5 col-sm-5">
                          <div class="text__pre__import fecha-icon font-weight-bold"><i
                              class="fas fa-chalkboard-teacher"></i> Aforo limitado
                          </div>
                        </div>
                        <div class="col-md-7 col-sm-7 text__pre">
                          <strong>25 alumnos por aula</strong>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--- Fin horario --->

                </li>
                <li class="list-group-item">
                  <!---horario --->
                  <div class="cicloinfo-fechas">
                    <div class="container-fluid">
                      <div class="row">
                        <div class="col-md-5 col-sm-5">
                          <div class="text__pre__import ciclofecha-tituE fecha-icon font-weight-bold">
                            <i class="far fa-clock"></i>
                            Horario de clases
                          </div>
                        </div>
                        <div class="col-md-7 col-sm-7 text__pre">
                          clases interdiarias (tres horas cada una)</div>
                        <div class="col-md-12 col-sm-6 ciclofecha-text text-center">
                          <p><strong>Grupo 1</strong></p>
                          <table class="table table-sm">
                            <thead>
                              <tr>
                                <th scope="col">TURNO</th>
                                <th scope="col">Lun - Mie - Vie</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <th scope="row">Mañana</th>
                                <td>{{_asesoria.asesoria.manana}}</td>
                              </tr>
                              <tr>
                                <th scope="row">Tarde</th>
                                <td>{{_asesoria.asesoria.tarde}}</td>
                              </tr>

                            </tbody>
                          </table>
                          <!-- <p><strong>Grupo 2</strong></p>
                          <table class="table table-sm">
                            <thead>
                              <tr>
                                <th scope="col">TURNO</th>
                                <th scope="col">Mar - Jue - Sáb</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <th scope="row">Mañana</th>
                                <td>{{_asesoria.asesoria.manana}}</td>
                              </tr>
                              <tr>
                                <th scope="row">Tarde</th>
                                <td>{{_asesoria.asesoria.tarde}}</td>
                              </tr>

                            </tbody>
                          </table> -->
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--- Fin horario --->

                </li>
                <li class="list-group-item">
                  <!---horario --->
                  <div class="cicloinfo-fechas">
                    <div class="container-fluid">
                      <div class="row">
                        <div class="col-md-12 col-sm-12">
                          <div class="text__pre__import fecha-icon font-weight-bold"><i class="fas fa-coins"></i>
                            Inversión</div>
                        </div>
                        <div class="col-md-12 col-sm-6 text__pre">
                          <table class="table table-sm">
                            <thead>
                              <tr>
                                <th scope="col">PROCESO</th>
                                <th scope="col">COSTO</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <th scope="row">Monto adicional a la mensualidad del ciclo virtual</th>
                                <td> {{_asesoria.asesoria.costo_cuota}}</td>
                              </tr>
                              <!-- <tr>
                                                              <th scope="row">Matrícula</th>
                                                              <td>{{_asesoria.asesoria.costo_matricula}}</td>
                                                          </tr>
                                                          <tr>
                                                              <th scope="row">Cuota de pensión/mes (5 cuotas)</th>
                                                              <td>{{_asesoria.asesoria.costo_cuota}}</td>
                                                          </tr> -->

                            </tbody>
                          </table>

                        </div>
                      </div>
                    </div>
                  </div>
                  <!--- Fin horario --->

                </li>
                <li class="list-group-item">
                  <!---horario --->
                  <div class="cicloinfo-fechas">
                    <div class="container-fluid">
                      <div class="row">
                        <div class="col-md-12 col-sm-12">
                          <div class="text__pre__import fecha-icon font-weight-bold"><i class="fas fa-school"></i>
                            Sedes</div>
                        </div>
                        <div class="col-md-12 col-sm-6 text__pre">
                          <table class="table table-sm">
                            <thead>
                              <tr>
                                <th scope="col">Lugar</th>
                                <th scope="col">Turno</th>
                                <th scope="col">Capacidad</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <th scope="row">UNI-Sector T</th>
                                <td>mañana</td>
                                <td>75</td>
                              </tr>
                              <tr>
                                <th scope="row"></th>
                                <td>tarde</td>
                                <td>250</td>
                              </tr>
                              <tr>
                                <th scope="row">Javier Prado</th>
                                <td>mañana</td>
                                <td>50</td>
                              </tr>
                              <tr>
                                <th scope="row"></th>
                                <td>tarde</td>
                                <td>25</td>
                              </tr>
                              <tr>
                                <th colspan="2" class="text-center">Total</th>
                                <th >400</th>
                              </tr>
                            </tbody>
                          </table>

                        </div>
                      </div>
                    </div>
                  </div>
                  <!--- Fin horario --->

                </li>

              </ul>

            </div>

          </div>

        </div>
        <div class="portfolio-description">
          <h2>Descripción</h2>
          <p>
            La educación virtual ofrece herramientas eficaces, requiere de infraestructura
            telemática adecuada así como de un nivel de autonomía y participación activa que
            muchos estudiantes no han logrado completar.
          </p>
          <p>
            Con el fin de disminuir las brechas de aprendizaje que se puedan haber generado en
            estos dos años de pandemia, el CEPREUNI ha decidido retornar de forma parcial,
            progresiva y voluntaria a la presencialidad como estrategia para desarrollar
            habilidades y capacidades que se despliegan mejor en la interacción social face to
            face entre docentes y estudiantes.
          </p>
          <p>
            La parte operativa de la implementación considera un programa de difusión del
            proceso de retorno seguro, la adecuación de la infraestructura con los aforos
            permitidos por la normativa, además de la implementación de un plan de vigilancia,
            prevención y control de la bioseguridad en el contexto del desarrollo de la pandemia
            durante el periodo académico 2022-2.
          </p>
          <p>
            Basados en su liderazgo institucional, el CEPREUNI asume el reto para la innovación en el periodo 2022-2 y
            propone un modelo pedagógico híbrido: formación académica
            100 % virtual, clases teórico-prácticas por exposiciones magistrales a través de
            videoconferencias con catedráticos de amplia experiencia, y –solo para estudiantes
            que requieren acompañamiento presencial para resolver sus dudas y adquirir
            destrezas en la resolución de problemas tipo examen– se abrirá el ciclo adicional de
            asesorías presenciales.
          </p>
          <!-- <h2>Descripción</h2>
          <p>Este ciclo de preparación te permite adquirir competencias en los temas y contenidos de los
            sílabos para los exámenes de la UNI, lo que te brindará mayor probabilidad de éxito en los
            exámenes de admisión de las diferentes universidades del Perú. Este ciclo de preparación está
            diseñado para que lo lleves en forma virtual y con el acompañamiento de tutores virtuales, así
            como de un sistema inteligente con autoevaluaciones formativas.</p>-->
          <h2>Dirigido a</h2>
          <p>
            Estudiantes del ciclo preuniversitario que requieren de asesorías presenciales para adquirir entrenamiento,
            habilidades y capacidades en el desarrollo de problemas tipo examen de admisión, a través de las siguientes
            actividades:

          </p>
          <ul>
            <li>Reforzamiento teórico de temas estratégicos.</li>
            <li>Reforzamiento práctico en problemas estratégicos.</li>
            <li>Entrenamiento en problemas modelo.</li>
            <li>Asesoramiento en dificultades procedimentales</li>
            <li>Consejería para solucionar bloqueos mentales o socioemocionales.</li>
            <li>Consejería psicopedagógica.</li>

          </ul>
          <!-- <h2>Prueba de seleccción</h2>
          <p>Requisito indispensable para ingresar a CEPRE-UNI. La prueba está diseñada para evaluar
            conceptos previos, básicos y generales de los cursos de Física, Química Aritmética, Álgebra,
            Geometría, Trigonometría y Aptitud Académica (Razonamiento Verbal y Razonamiento
            Matemático). <br>El examen es virtual, consta de 32 preguntas y dura 2 horas.</p> -->
        </div>
        <h2>Cursos </h2>
        <div class="badge " style="width: 12rem;">
          <li>ÁLGEBRA</li>
        </div>
        <div class="badge " style="width: 12rem;">
          <li>ARITMÉTICA</li>
        </div>
        <div class="badge " style="width: 12rem;">
          <li>FÍSICA </li>
        </div>
        <div class="badge " style="width: 12rem;">
          <li> GEOMETRÍA</li>
        </div>
        <div class="badge " style="width: 12rem;">
          <li>QUÍMICA</li>
        </div>
        <div class="badge " style="width: 12rem;">
          <li>TRIGONOMETRÍA</li>
        </div>
        <!-- <div class="badge " style="width: 12rem;">
          <li>HUMANIDADES</li>
        </div>
        <div class="badge " style="width: 15rem;">
          <li>RAZONAMIENTO MATEMÁTICO</li>
        </div>
        <div class="badge " style="width: 15rem;">
          <li>RAZONAMIENTO VERBAL</li>
        </div> -->
        <!-- </div> -->
      </section>
      <section id="portfolio-details" class="portfolio-details">
        <h2 class="movil__title">Características</h2>
        <div class="alert alert-info alert-dismissible fade show" role="alert">
          Apertura limitada de salones presenciales <strong>(solo para estudiantes matriculados en el ciclo
            Preuniversitario 2022-2 en los locales de Javier Prado y de la UNI)</strong>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="col-lg-12 col-md-12 ">
          <p>
            Este ciclo está destinado a estudiantes que no tengan desarrolladas
            capacidades y habilidades en el entrenamiento para la resolución de problemas
            tipo examen de admisión, así como para los que requieren un acompañamiento
            más personalizado.
          </p>
          <p>
            Este ciclo extraordinario se caracteriza por
          </p>
          <ul>
            <li>apertura limitada de salones presenciales (solo para estudiantes matriculados
              en el ciclo Preuniversitario 2022-2 en los locales de Javier Prado y de la
              UNI),</li>
            <li>aforo limitado de 25 alumnos por aula,</li>
            <li>turnos: mañana (8h00 hasta 11h20) y
              tarde (16h00 hasta 19h20),</li>
            <li>clases interdiarias (tres horas cada una),</li>
            <li>90 minutos de clase por curso (Aritmética, Álgebra, Geometría,
              Trigonometría, Física y Química).</li>
          </ul>
        </div>
      </section>
      <section id="portfolio-details" class="portfolio-details">
        <h2 class="movil__title">Estrategias</h2>
        <div class="alert alert-info alert-dismissible fade show" role="alert">
          Apertura limitada de salones presenciales <strong>(solo para estudiantes matriculados en el ciclo
            Preuniversitario 2022-2 en los locales de Javier Prado y de la UNI)</strong>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div>
          <p>La didáctica de las asesorías presenciales se basa en la pedagogía
            del dominio (soporte académico y socioemocional, mejora del
            acompañamiento, motivación y autoestima de los estudiantes) y
            desarrollará las siguientes actividades:
          </p>
          <ul>
            <li>Reforzamiento teórico de temas estratégicos</li>
            <li>Reforzamiento práctico en problemas estratégicos</li>
            <li>Entrenamiento en problemas modelo</li>
            <li>Asesoramiento en dificultades conceptuales</li>
            <li>Asesoramiento en dificultades procedimentales</li>
            <li>Consejería para solucionar bloqueos mentales o socioemocionales</li>
            <li>Consejería psicopedagógica.</li>
          </ul>
        </div>
      </section>
      <section id="portfolio-details" class="portfolio-details">
        <h2 class="movil__title">Cronograma</h2>
        <div class="alert alert-info alert-dismissible fade show" role="alert">
          Apertura limitada de salones presenciales <strong>(solo para estudiantes matriculados en el ciclo
            Preuniversitario 2022-2 en los locales de Javier Prado y de la UNI)</strong>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <table class="table table-striped table-sm pre__table">
          <thead>
            <tr>
              <th scope="col">Evento</th>
              <th scope="col">Fecha</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Preinscripción</th>
              <td> {{_asesoria.asesoria.fecha_incripcionPrueba_desde}}
                <!-- a
                {{_asesoria.asesoria.fecha_incripcionPrueba_hasta}}</td> -->
            </tr>
            <!-- <tr>
              <th scope="row">Prueba de Selección</th>
              <td> {{_asesoria.asesoria.fecha_prueba}} </td>
            </tr> -->
            <!-- <tr>
              <th scope="row">Matrícula</th>
              <td> {{_asesoria.asesoria.fecha_matricula}} </td>
            </tr> -->
            <tr>
              <th scope="row">Inicio de clases</th>
              <td> {{_asesoria.asesoria.fecha_inicio}} </td>
            </tr>
            <!-- <tr>
                          <th scope="row">Primera Práctica Calificada</th>
                         
                          <td>---</td>
                      </tr>
                      <tr>
                          <th scope="row">Segunda Práctica Calificada</th>
                          
                          <td>---</td>
                      </tr>
                      <tr>
                          <th scope="row">Primer Examen Parcial</th>
                          
                          <td>---</td>
                      </tr>
                      <tr>
                          <th scope="row">Tercera Práctica Calificada</th>
                         
                          <td>---</td>
                      </tr>
                      <tr>
                          <th scope="row">Cuarta Práctica Calificada</th>
                         
                          <td>---</td>
                      </tr>
                      <tr>
                          <th scope="row">Segundo Examen Parcial</th>
                         
                          <td>---</td>
                      </tr>
                      <tr>
                          <th scope="row">Quinta Práctica Calificada</th>
                          
                          <td>---</td>
                      </tr>
                      <tr>
                          <th scope="row">Sexta Práctica Calificada</th>
                         
                          <td>---</td>
                      </tr>
                      <tr>
                          <th scope="row">Séptima Práctica Calificada</th>
                         
                          <td>---</td>
                      </tr>
                      <tr>
                          <th scope="row">Examen Final</th>
                         
                          <td>---</td>
                      </tr>
                      <tr>
                          <th scope="row">Prueba de Aptitud Vocacional</th>
                         
                      </tr> -->


          </tbody>
        </table>
      </section>
      <section id="portfolio-details" class="portfolio-details">
        <div class="alert alert-info alert-dismissible fade show" role="alert">
          Apertura limitada de salones presenciales <strong>(solo para estudiantes matriculados en el ciclo
            Preuniversitario 2022-2 en los locales de Javier Prado y de la UNI)</strong>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <h2 class="movil__title">Preinscripción</h2>
        <div class="timeline">
        
          <div class="timeline__event animated fadeInUp delay-2s timeline__event--type2">
              <div class="timeline__event__icon">
                  <i class="icofont-coins"></i>
              </div>
              <div class="timeline__event__date">
                  1 <sup>ero</sup>
              </div>
              <div class="timeline__event__content">
                  <div class="timeline__event__title">
                      Preinscripción 
                  </div>
                  <div class="timeline__event__description">
                      <p>Tienes que registrarse en el siguiente <a
                              href="{{_asesoria.asesoria.link}}" class="btn btn-sm disabled">LINK</a>.</p>
                  </div>
              </div>
          </div>
          <div class="timeline__event animated fadeInUp delay-1s timeline__event--type3">
              <div class="timeline__event__icon">
                  <i class="icofont-email"></i>
              </div>
              <div class="timeline__event__date">
                  2<sup>do</sup>
              </div>
              <div class="timeline__event__content">
                  <div class="timeline__event__title">
                      Realizar pago
                  </div>
                  <div class="timeline__event__description">

                      <div class="timeline-body">
                          <p>
                              Tienes que seguir las indicaciones que se muestra al finalizar la preinscripción.
                          </p>
                      </div>
                  </div>

              </div>
          </div>
         
      </div>
      </section>
    </div>
  </div>


</main><!-- End #main -->