<main id="main">
    <div class="headeritems"></div>
    <div class="cabeza"></div>
        <!-- ======= Breadcrumbs ======= -->
        <section id="breadcrumbs" class="breadcrumbs">
          <div class="container">
            <!-- <ol>
              <li><a href="/index.html">Inicio</a></li>
              <li>Bibliografía</li>
            </ol> -->
            <h2>Asesorías </h2>
    
          </div>
        </section><!-- End Breadcrumbs -->
    
        <!-- ======= Portfolio Details Section ======= -->
        <section id="portfolio-details" class="portfolio-details">
          <div class="container">
            <div class="portfolio-description ">
              <div class="card" style="max-width: 45%; margin:0 auto;">
                  <div class="col-md-12">
                    <img src="assets/img/portada_asesoria.jpg" class="card-img" alt="yoquierosercientifico">
                  </div>
                  <!-- <div class="col-md-12"> -->
                    <div class="card-body">
                        <form>
                            <div class="form-group">
                                <label for="code">código</label>
                                <input type="text" class="form-control" id="code" placeholder="i201716389">
                              </div>
                              <div class="form-group">
                                <label for="code">DNI</label>
                                <input type="password" class="form-control" id="password" >
                              </div>
                            <div class="form-group">
                              <label for="exampleFormControlSelect1">Curso</label>
                              <select class="form-control" id="exampleFormControlSelect1">
                                <option>Algebra</option>
                                <option>Humanidades</option>
                                <option>Trigonometría</option>
                                <option>Geometría</option>
                              </select>
                            </div>
                            <a href="" target="_blank" class="btn  btn-info"><i class="fas fa-file-download"></i> Registrar</a>
                        </form>
                    </div>
                  <!-- </div> -->
              </div>
            </div>
    
        </div>
        </section>
        <!-- End Portfolio Details Section -->
    
      </main>
      <!-- End #main -->