<main id="main">
<div class="headeritems"></div>
<div class="cabeza"></div>
    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">
        <ol>
          <li><a href="/index.html">Inicio</a></li>
          <li>Bibliografía</li>
        </ol>
        <h2>Bibliografía </h2>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">
        <div class="portfolio-description">
          <div class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="assets/img/libros/yoquierosercientifico.png" class="card-img" alt="yoquierosercientifico">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">CIENCIA, y yo quiero ser científico</h5>
                  <p class="card-text">El Prof. Martín Martínez Ripoll, investigador del Instituto de Química-Física Rocasolano, participa en la obra de divulgación <strong> <em>CIENCIA, y yo quiero ser científico!!!</em></strong> , que fomenta la vocación científica de los jóvenes a través de los ojos de nuestros científicos.</p>
                  <a href="assets/descargas/bibliografia/y yo quiero ser cientifico_libro.pdf" target="_blank" class="btn  btn-info"><i class="fas fa-file-download"></i> Descargar libro</a>
                </div>
              </div>
            </div>
          </div>
        </div>

    </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->