<nav class="navbar-h">
  <div class="navbar-h-content ">
    <p>Proceso de inscripción finalizó el <strong>20 de agosto </strong> <a target="_blank" href="http://cepre.uni.pe/resultados_psel_adm20221.htm"> <span> Ver  resultados</span> </a> </p>
    <!-- <ul class="utility">
      <li>
        <span>0 días</span>
      </li>
      <li>
        <span>0 horas</span>
      </li>
      <li>
        <span>0 minutos</span>
      </li>
      <li>
        <span>0 segundos</span>
      </li>
    </ul> -->
  </div>
</nav>
<header id="header" class="fixed-top ">
  <div class="container d-flex align-items-center">

    <!--<h1 class="logo mr-auto"><a href="index.html">Cepre-UNI</a></h1>
     Uncomment below if you prefer to use an image logo -->
    <a routerLink="home" class="logo mr-auto"><img src="assets/img/logoT-b3.png" alt="" class="img-fluid"></a>
    <nav class="nav-menu d-none d-lg-block" id="nav-menu">
      <ul>
        <li routerLinkActive="active"><a class="nav__link" routerLink="home">Inicio</a></li>
        <li routerLinkActive="active"><a class="nav__link" routerLink="cepreuni">Por qué CEPRE-UNI</a></li>

        <!-- <li><a href="content/portafolio.html">Portafolio</a></li> -->
        <li class="drop-down"><a routerLink="#">Ciclos</a>
          <ul>
            <li routerLinkActive="active"><a class="nav__link" routerLink="pre">PRE</a>
            <li routerLinkActive="active"><a class="nav__link" routerLink="basico">BÁSICO</a>
          </ul>
        </li>
        <li class="drop-down"><a routerLink="">Descargas</a>
          <ul>
            <li routerLinkActive="active"><a class="nav__link" routerLink="examenes">Exámenes</a></li>
            <li routerLinkActive="active"> <a class="nav__link" routerLink="infografia">Infografías</a></li>
            <li routerLinkActive="active"><a class="nav__link" routerLink="bibliografia">Bibliografía</a></li>
            <li routerLinkActive="active"><a class="nav__link" routerLink="webgrafia">Webgrafía</a></li>
            <li routerLinkActive="active"><a class="nav__link" routerLink="webinar">Webinar</a></li>
            <!-- <li routerLinkActive="active"><a routerLink="home">Olimpiadas</a></li> -->
          </ul>
        </li>
        <li class="drop-down"><a routerLink="">Servicios<i class="modulo__avance">Nuevo</i></a>
          <ul>
            <li routerLinkActive="active"><a class="nav__link" routerLink="psicologia">Psicología</a> </li>
            <li> <a class="nav__link" routerLink="biblioteca">Biblioteca</a></li>

          </ul>
        </li>
        <li routerLinkActive="active"><a class="nav__link" routerLink="contacto">Contacto</a></li>


      </ul>
    </nav><!-- .nav-menu -->

    <a href="/my" class="get-started-btn scrollto">Aula Virtual</a>

  </div>
</header><!-- End Header -->