<header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">

      <!--<h1 class="logo mr-auto"><a href="index.html">Cepre-UNI</a></h1>
     Uncomment below if you prefer to use an image logo -->
      <a routerLink="/" class="logo mr-auto"><img src="assets/img/logo.svg" alt="" class="img-fluid"></a>
      <nav class="nav-menu d-none d-lg-block" id="nav-menu">
        <ul>
          <li routerLinkActive="active"><a class="nav__link" routerLink="/">Inicio</a></li>
          <li routerLinkActive="active"><a class="nav__link" routerLink="cepreuni">Por qué CEPRE-UNI</a></li>
          
          <!-- <li><a href="content/portafolio.html">Portafolio</a></li> -->
          <li  class="drop-down"><a routerLink="#">Ciclos</a>
            <ul>
              <li routerLinkActive="active"><a class="nav__link" routerLink="pre">PRE</a></li>
              <li routerLinkActive="active"><a class="nav__link" routerLink="basico">Básico</a></li>
              <li class="drop-down"><a>Escolar</a>
                <ul>
                  <li><a routerLink="tercero"> 3<sup>ro</sup> secundaria</a></li>
                  <li><a routerLink="cuarto"> 4<sup>to</sup> secundaria</a></li>
                  <li><a routerLink="quinto"> 5<sup>to</sup> secundaria</a></li>
                </ul>
              </li>
              <li class="drop-down"><a >Intensivo</a>
                <ul>
                  <li><a routerLink="intensivo1">grupo 1</a></li>
                  <li><a routerLink="intensivo2">grupo 2</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="drop-down"><a routerLink="">Descargas</a>
            <ul>
              <li routerLinkActive="active"><a class="nav__link" routerLink="examenes">Exámenes</a></li>
              <li routerLinkActive="active"> <a class="nav__link" routerLink="infografia">Infografías</a></li>
              <li routerLinkActive="active"><a class="nav__link" routerLink="bibliografia">Bibliografía</a></li>
              <li routerLinkActive="active"><a class="nav__link" routerLink="webgrafia">Webgrafía</a></li>
              <li routerLinkActive="active"><a class="nav__link" routerLink="webinar">Webinar</a></li>
              <!-- <li routerLinkActive="active"><a routerLink="home">Olimpiadas</a></li> -->
            </ul>
          </li>
          <li class="drop-down"><a routerLink="">Servicios</a>
            <ul>
              <li routerLinkActive="active"><a class="nav__link" routerLink="psicol">Psicología</a> </li>
              <li routerLinkActive="active"> <a class="nav__link" routerLink="biblioteca">Biblioteca</a></li>
              <li routerLinkActive="active"> <a class="nav__link" routerLink="asesorias">Asesorías</a></li>
              
            </ul>
          </li>
          <li routerLinkActive="active"><a class="nav__link" routerLink="asesorias">Asesorías <i class="modulo__avance">Nuevo</i></a></li>
        </ul>
      </nav><!-- .nav-menu -->
      <a href="/my" class="get-started-btn scrollto">Aula Virtual</a>
    </div>
  </header><!-- End Header -->