<main id="main">
<div class="headeritems"></div>
<div class="cabeza"></div>
    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      
      <div class="container">
        <ol>
          <li><a href="/index.html">Inicio</a></li>
          <li>webinar</li>
        </ol>
        <h2>Descarga de documentos </h2>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="portfolio-details-container">

          
        </div>

        <div class="portfolio-description">
         <div class="table-responsive">
          <table class="table  table-striped">
            <thead>
              <tr>
                <th scope="col">Fecha</th>
                <th scope="col">Curso</th>
                <th scope="col">Descrip.</th>
                <th scope="col">Doc.</th>
                <th scope="col">Ejm.</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">8/12/20</th>
                <td>Química</td>
                <td>La química del amor</td>
                <td><a href="assets/descargas/webinar/la quimica y el amor.pdf" target="_blank" class="btn  btn-info"><i class="fas fa-arrow-circle-down"></i></a></td>
                <td><a href="assets/descargas/webinar/QUIMICA DEL AMOR.pdf" target="_blank" class="btn  btn-info"><i class="fas fa-arrow-circle-down"></i></a></td>
                

              </tr>
              <tr>
                <th scope="row">13/02/21</th>
                <td>Química</td>
                <td>Química y el covid-19</td>
                <td><a href="assets/descargas/webinar/El rol de la química para enfrentar la segunda ola del covid-19.pptx" target="_blank" class="btn  btn-info"><i class="fas fa-arrow-circle-down"></i> </a></td>
                <!-- <td><a href="assets/descargas/webinar/QUIMICA DEL AMOR.pdf" target="_blank" class="btn  btn-info"><i class="fas fa-arrow-circle-down"></i> Ejercicios</a></td> -->
                

              </tr>
              <!--<tr>
                <th scope="row">2021 - I</th>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
              </tr>-->
              
            </tbody>
          </table>
        </div>
        </div>

    </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->