<main id="main">
    <div class="headeritems">
        <div class="cabeza"></div>
        <section id="services" class="services section-bg-agradecimiento">
            <div class="container" data-aos="fade-up">
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in"
                        data-aos-delay="300">
                        <div class="icon-box iconbox-teal">
                            <div class="text-center mb-3">
                                    <img style="width:35%" src="assets/img/logo-azul.svg" alt="logo"
                                        class="img-fluid center-block">
                            </div>
                            <h4  class="text-center ">¡En hora buena!</h4>
                            <p>Te has registrado para que no te pierdas de ningún evento, <span class="font-weight-bold">tu siguiente paso es unirte al grupo de Telegram</span>, donde publicaremos toda la agenda de los eventos. Hora, debes de revisa tu bandeja de correo electrónico. Si estas usando Gmail quizás estemos en promociones o de repente en Spam; si estas en otro gestor como Outlook o Yahoo! quizás estemos en no deseados o Spam. Por ese medio te enviaremos recordatorios y el único link para que te unas a nuestros conversatorios.     
                            </p>
                            <div class="text-center">
                                <a href="https://t.me/joinchat/s-SxgRKERvQ2ZDAx" target="_blank" class="linkedin btn btn-info"><i class="fab fa-telegram-plane"></i> únete</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>