<main id="main">
 <div class="cabeza"></div>
  <!-- ======= Breadcrumbs ======= -->
  <section id="breadcrumbs" class="breadcrumbs">
   
    <div class="container">
      <ol>
        <li><a href="//index.html">Inicio</a></li>
        <li>¿POR QUÉ ESTUDIAR EN EL CEPREUNI?</li>
      </ol>
     

    </div>
  </section><!-- End Breadcrumbs -->

  <section id="about" class="about">
    <div class="container" data-aos="zoom-out">

      <div class="row">
        <div class="col-lg-12">
          <h3>¿POR QUÉ ESTUDIAR EN EL CEPREUNI?</h3>
          <p class="font-italic">
            Te compartimos algunas razones por las que estudiar en CEPREUNI es una de las mejores decisiones que tomarás en la vida.
          </p>

        </div>

        
        <div class="col-lg-6">
          <br>
          <img src="assets/img/about.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 content">
          
          <ul>
            <li><i class="icofont-check-circled"></i>CEPREUNI es una institución educativa referente en la formación
              en ingeniería, ciencias y humanidades, que está orientada a la formación de los futuros ingenieros, arquitectos y
              científicos que requiere nuestra sociedad.</li>
            <li><i class="icofont-check-circled"></i>Nuestra institución convoca a los estudiantes talentosos del Perú
              y el extranjero, por lo que su competitividad y motivación están garantizadas dentro de nuestra misión para formar futuros líderes que transformen nuestra patria con visión de identidad sociocultural, sostenibilidad ambiental y compromiso social.</li>
            <li><i class="icofont-check-circled"></i>Estudiar en Cepreuni garantiza que más del 67 % de nuestras
              estudiantes puedan acceder a la UNI y aborden con éxito su formación profesional.</li>
              <li><i class="icofont-check-circled"></i>
                CEPRE-UNI tiene el récord histórico que más del 10 % de su estudiantes accede a una Beca de estudios.
              </li>
            <li><i class="icofont-check-circled"></i>De ingresar a la UNI, el alumno gozaría de alimentación, seguro y atención médica.</li>
              
          </ul>
          
        </div>
      </div>

    </div>
  </section><!-- End About Section -->

</main><!-- End #main -->