<main id="main">


    <div class="cabeza"></div>
    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us section-bg">
      <div class="container-fluid" data-aos="fade-up">

        <div class="row">

          <div class="col-lg-12 d-flex flex-column justify-content-center align-items-stretch  order-2 order-lg-1">

            <div class="content">
              <h3>Citas para el  <strong>departamento de psicología</strong></h3>
              <!-- <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Duis aute irure dolor in reprehenderit
              </p> -->
            </div>

            <div class="accordion-list">
              <ul>
                <li>
                  <a data-toggle="collapse" class="collapse" href="#accordion-list-1"><span>01</span> Aplicación de
                    Telegram <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                  <div id="accordion-list-1" class="collapse show" data-parent=".accordion-list">
                    <p>
                      En este paso debes de descargar Telegram y crearte un usuario para poder continuar.
                    </p>
                  </div>
                </li>

                <li>
                  <a data-toggle="collapse" href="#accordion-list-2" class="collapsed"><span>02</span> Reserva una cita
                    <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                  <div id="accordion-list-2" class="collapse" data-parent=".accordion-list">
                    <p>
                      Es muy fácil, solo tienes que ingresara al chat de Telegram, que aparecen a continuación:
                    </p>
                    <section id="team" class="team ">
                      <div class="container" data-aos="fade-up">
                        <div class="row">
                          <div class="col-lg-12">
                            <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="100">
                              <div class="pic1"><img src="assets/img/team/Yennifer.png" class="img-fluid" alt=""></div>
                              <div class="member-info">
                                <h4>Mg. Ps. Yennyfer L. Espinoza G.</h4>
                                <!-- <span>CPs.P. 4492</span> -->
                                <!-- <p>texto textotexto textotexto textotexto textotexto textotexto textotexto textotexto textotexto texto -->
                                <!-- </p> -->
                                <div class="social1">
                                  <a target="_blank" href="https://t.me/Psicologacepreuni"><i
                                      class="fab fa-telegram-plane"></i></a>
                                </div>
                              </div>
                            </div>
                          </div>

                          <div class="col-lg-12 mt-4 mt-lg-0">
                            <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="200">
                              <div class="pic1"><img src="assets/img/team/Jorge.png" class="img-fluid" alt=""></div>
                              <div class="member-info">
                                <h4>Maestr. Ps. Jorge L. Malpica S.</h4>
                                <!-- <span>CPs.P. 1357</span> -->
                                <!-- <p>texto textotexto textotexto textotexto textotexto textotexto textotexto textotexto textotexto texto -->
                                <!-- </p> -->
                                <div class="social1">
                                  <a target="_blank" href="https://t.me/Psicologocepreuni"><i class="fab fa-telegram-plane"></i> </a>
                                </div>
                              </div>
                            </div>
                          </div>

                        </div>

                      </div>
                    </section>
                    <p>Serán atendidos por los profesionales de psicología, quienes coordinaran contigo la cita
                      correspondiente.
                    </p>
                  </div>
                </li>

                <!-- <li>
                  <a data-toggle="collapse" href="#accordion-list-3" class="collapsed"><span>03</span> Dolor sit amet
                    consectetur adipiscing elit? <i class="bx bx-chevron-down icon-show"></i><i
                      class="bx bx-chevron-up icon-close"></i></a>
                  <div id="accordion-list-3" class="collapse" data-parent=".accordion-list">
                    <p>
                      Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Faucibus pulvinar
                      elementum integer enim. Sem nulla pharetra diam sit amet nisl suscipit. Rutrum tellus pellentesque
                      eu tincidunt. Lectus urna duis convallis convallis tellus. Urna molestie at elementum eu facilisis
                      sed odio morbi quis
                    </p>
                  </div>
                </li> -->

              </ul>
            </div>

          </div>

          
        </div>

      </div>
    </section><!-- End Why Us Section -->
   
    

  </main> <!-- End #main -->
