<!-- ======= Hero Section ======= -->
<section id="hero">
    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
            <!-- <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="3"></li> -->
        </ol>
        <div class="carousel-inner">
            <!-- Carrucel  CICLO ESCOLAR-->
            <!-- <div class="carousel-item active ">

                <div class="container escolar">
                    <div class="row">
                        <div class="col-lg-6 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">

                            <h1 class="text-center pre">ACTUALIZACIÓN ESCOLAR</h1>
                            <h1 class="text-center pre">2022</h1>
                            <h2 class="text-center">Fin de inscripción: </h2>

                            <nav class="navbar-h mb-4">
                                <div class="navbar-h-content">
                                    <ul class="utility">
                                        <li>
                                            <span> 0 D</span>
                                        </li>
                                        <li>
                                            <span>0 H</span>
                                        </li>
                                        <li>
                                            <span>0 M</span>
                                        </li>
                                        <li>
                                            <span>0 S</span>
                                        </li>
                                    </ul>
                                </div>
                            </nav>
                            <div class="d-flex justify-content-center ">
                                <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                                    <a routerLink="tercero" type="button" class="btn "><i
                                            class="fas fa-graduation-cap"></i> 3 <sup>ro</sup></a>
                                    <a routerLink="cuarto" type="button" class="btn "><i
                                            class="fas fa-graduation-cap"></i> 4 <sup>to</sup></a>
                                    <a routerLink="quinto" type="button" class="btn "> <i
                                            class="fas fa-graduation-cap"></i> 5 <sup>to</sup></a>
                                </div>
                            </div>
                            <div class=" justify-content-center ">
                                <br>
                                <div class="d-flex  justify-content-center ">
                                    <a href="http://cepre.uni.pe/Inscripverano.php" type="button"
                                        class="btn btn-sm link__inscripcion">
                                        inscríbete</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 order-1 order-lg-2 hero-img ">
                            <div class="portfolio-details-container">
                                <img src="assets/img/ciclos/CicloEscolar2022-2.png" class="box-img-center img-fluid"
                                    alt="">
                            </div>
                        </div>

                    </div>
                </div>
            </div> -->
            <!-- Carrucel CICLOS INTENSIVO-->
            <!-- <div class="carousel-item ">

                <div class="container intensivo">
                    <div class="row">
                        <div class="col-lg-6 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">

                            <h1 class="text-center pre">CICLO </h1>
                            <h1 class="text-center pre"> INTENSIVO</h1>
                            <h1 class="text-center pre">2022-1</h1>
                            <h2 class="text-center">Fin de inscripción: </h2>

                            <nav class="navbar-h mb-4">
                                <div class="navbar-h-content">
                                    <ul class="utility">
                                        <li>
                                            <span>0 D</span>
                                        </li>
                                        <li>
                                            <span>0 H</span>
                                        </li>
                                        <li>
                                            <span>0 M</span>
                                        </li>
                                        <li>
                                            <span>0 S</span>
                                        </li>
                                    </ul>
                                </div>
                            </nav>
                            <div class="d-flex justify-content-center ">
                                <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                                    <a type="button" (click)="alertInscrpcion()" class="btn d-none"><i
                                            class="fas fa-graduation-cap"></i> grupo 1</a>
                                    <a type="button" (click)="alertInscrpcion()" class="btn "><i
                                            class="fas fa-graduation-cap"></i> grupo 1</a>
                                    <a routerLink="intensivo2" type="button" class="btn"><i
                                            class="fas fa-graduation-cap"></i> grupo 2</a>

                                </div>
                            </div>
                            <div class=" justify-content-center ">
                                <br>
                                <div class="d-flex  justify-content-center ">
                                    <a href="http://cepre.uni.pe/Inscripverano.php" type="button"
                                        class="btn btn-sm link__inscripcion">
                                        inscríbete</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 order-1 order-lg-2 hero-img ">
                            <div class="portfolio-details-container">
                                <img src="assets/img/ciclos/CicloIntensivo2022-2.png" class="box-img-center img-fluid"
                                    alt="">
                            </div>
                        </div>

                    </div>
                </div>
            </div> -->
            
            <!-- Carrucel CICLO PREUNIVERSITARIO-->
            <div class="carousel-item active">
                <div class="container pre">
                    <div class="row">
                        <div class="col-lg-6 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
                            <h1 class="text-center pre">CICLO PREUNIVERSITARIO</h1>
                            <h1 class="text-center pre">2022-2</h1>
                            <h2 class="text-center">Información importante</h2>
                            <div class="d-flex justify-content-center ">
                                <div class="btn-group btn-group-sm " role="group" aria-label="Basic example">
                                    <a  (click)="agendaCiclo('pre')"  target="_blank" type="button"
                                        class="btn "><i class="fas fa-calendar-times Pre_insc_01"></i> Agenda</a>
                                    <a href="assets/descargas/silabo/pre.pdf" target="_blank"
                                        type="button" class="btn "><i class="fas fa-graduation-cap"></i> Sílabo</a>
                                    <a href="assets/descargas/brochure/pre.pdf" target="_blank" type="button"
                                        class="btn "> <i class="fas fa-file-download"></i> Brochure</a>
                                </div>
                            </div>
                            <br>
                            <div class=" d-flex justify-content-center pre-g2">
                                <!-- <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                                    <a href="http://cepre.uni.pe/resultados_psel_adm20221.htm" target="_blank"
                                        type="button" class="btn btn-danger"><i class="fas fa-graduation-cap"></i> Inscripción</a>
                                    <a routerLink="pre" target="_blank" type="button"
                                        class="btn sabermas"> Saber más</a>
                                </div> -->
                                <a type="button" routerLink="pre" class="btn btn-sm sabermas">Saber más</a>
                                <!-- <div class=" justify-content-center ">
                                </div> -->

                            </div>
                        </div>
                        <div class="col-lg-6 order-1 order-lg-2 hero-img ">
                            <div class="portfolio-details-container">
                                <img src="assets/img/ciclos/CicloPre2022-2.png" class="box-img-center img-fluid" alt="">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- Carrucel CICLO BÁSICO-->
            <div class="carousel-item ">

                <div class="container bas">
                    <div class="row">
                        <div class="col-lg-6 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">

                            <h1 class="text-center pre">CICLO </h1>
                            <h1 class="text-center pre"> BÁSICO</h1>
                            <h1 class="text-center pre">2022-2</h1>
                            <h2 class="text-center">Información importante</h2>
                            <div class="d-flex justify-content-center ">
                                <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                                    <a  (click)="agendaCiclo('basico')"  target="_blank" type="button"
                                        class="btn "><i class="fas fa-calendar-times"></i> Agenda</a>
                                    <a href="assets/descargas/silabo/basico.pdf" target="_blank"
                                        type="button" class="btn "><i class="fas fa-graduation-cap"></i> Sílabo</a>
                                    <a href="assets/descargas/brochure/basico.pdf" target="_blank" type="button"
                                        class="btn "> <i class="fas fa-file-download"></i> Brochure</a>
                                </div>
                            </div>
                            <div class=" justify-content-center ">
                                <br>
                                <div class="d-flex  justify-content-center ">
                                    <a routerLink="basico" type="button" class="btn btn-sm sabermas">Saber
                                        más</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 order-1 order-lg-2 hero-img ">
                            <div class="portfolio-details-container">
                                <img src="assets/img/ciclos/CicloBasico2022-2.png" class="box-img-center img-fluid"
                                    alt="">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="carousel-item ">

                <div class="container asesoria">
                    <div class="row">
                        <div class="col-lg-6 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">

                            <!-- <h1 class="text-center pre">CICLO </h1> -->
                            <h1 class="text-center pre">ASESORÍAS</h1>
                            <h1 class="text-center pre">SEMIPRESENCIALES</h1>
                            <h1 class="text-center pre">2022-2</h1>
                            <h2 class="text-center">Información importante</h2>
                            <div class="d-flex justify-content-center ">
                                <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                                    <!-- <a  (click)="agendaCiclo('basico')"  target="_blank" type="button"
                                        class="btn "><i class="fas fa-calendar-times"></i> Agenda</a> -->
                                    <!-- <a href="assets/descargas/silabo/asesoria.pdf" target="_blank"
                                        type="button" class="btn "><i class="fas fa-graduation-cap"></i> Sílabo</a> -->
                                    <a href="assets/descargas/brochure/brochure-asesoria.pdf" target="_blank" type="button"
                                        class="btn "> <i class="fas fa-file-download"></i> Brochure</a>
                                </div>
                            </div>
                            <div class=" justify-content-center ">
                                <br>
                                <div class="d-flex  justify-content-center ">
                                    <a routerLink="asesorias" type="button" class="btn btn-sm sabermas">Saber
                                        más</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 order-1 order-lg-2 hero-img ">
                            <div class="portfolio-details-container">
                                <img src="assets/img/ciclos/Asesoria2022-2.png" class="box-img-center img-fluid"
                                    alt="">
                            </div>
                        </div>

                    </div>
                </div>
            </div>



        </div>
        <a class="carousel-control-prev " href="#carouselExampleCaptions" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>

    </div>
</section>
<!-- End Hero -->
<main id="main">
    <section id="featured-services " class="featured-services ciclos mt-4">
        <div class="container">
            <div class="section-title">
                <h2> Ciclos Regulares</h2>
                <!-- <p>Descripción de servicio al estudiante.</p> -->
            </div>
            <div class="row cilos__regulares">
                <div class="col-lg-3 col-md-6 mt-4 mt-md-0" data-aos="fade-left">
                    <div class="icon-box">
                        <div class="ciclo__regular__item">
                            <a class="logo mr-auto card__ciclo"><img src="assets/img/ciclos/CicloPre.png" alt=""
                                    class="img-fluid"></a>
                        </div>
                        <div class="card-body">
                            <h4 class="title card-title"><a>Ciclo Preuniversitario</a></h4>

                            <p class="card-text">Dirigido a estudiantes egresados o que actualmente se encuentren
                                estudiando el quinto año de
                                secundaria, que aspiren a ingresar al centro Preuniversitario de la Universidad Nacional
                                de
                                Ingeniería...
                            </p>

                            <div class="pre">
                                <a routerLink="pre" class="btn  btn-sm sabermas">Saber más...</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mt-4 mt-lg-0 " data-aos="fade-right">
                    <div class="icon-box">
                        <div class="ciclo__regular__item">
                            <a class="logo mr-auto card__ciclo"><img src="assets/img/ciclos/CicloBasico.png" alt=""
                                    class="img-fluid"></a>
                        </div>
                        <div class="card-body">
                            <h4 class="title card-title"><a>Ciclo Básico</a></h4>

                            <p class="card-text">Dirigido a estudiantes o egresados de secundaria que recién inician su
                                etapa de preparación
                                preuniversitaria y requieren complementar y ampliar sus conocimiento...
                            </p>

                            <div class="bas">
                                <a routerLink="basico" class="btn btn-sm sabermas">Saber más...</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mt-4 mt-lg-0 " data-aos="fade-right">
                    <div class="icon-box">
                        <div class="ciclo__regular__item">
                            <a class="logo mr-auto card__ciclo">
                                <img src="assets/img/ciclos/Asesoria.png"  alt="Escolar" class="img-fluid">
                            </a>
                        </div>

                        <div class="card-body">
                            <h4 class="title card-title"><a>Asesorías Semipresenciales</a></h4>
                            <!-- <div class="escolar">
                                <div class="d-flex justify-content-center ">
                                    <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                                        <a routerLink="tercero" type="button" class="btn "><i
                                                class="fas fa-graduation-cap"></i> 3 <sup>ro</sup></a>
                                        <a routerLink="cuarto" type="button" class="btn "><i
                                                class="fas fa-graduation-cap"></i> 4 <sup>to</sup></a>
                                        <a routerLink="quinto" type="button" class="btn "> <i
                                                class="fas fa-graduation-cap"></i> 5 <sup>to</sup></a>
                                    </div>
                                </div>
                            </div> -->
                            <p class="card-text">
                                Dirigido a estudiantes del ciclo preuniversitario que requieren de asesorías presenciales para adquirir entrenamiento, habilidades y capacidades en el desarrollo de problemas tipo examen de admisión
                            </p>
                            <div class="bas">
                                <a routerLink="asesorias" class="btn btn-sm sabermas">Saber más...</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mt-4 mt-lg-0 " data-aos="fade-right">
                    <div class="icon-box ">
                        <div class="ciclo__regular__item">
                            <a class="logo mr-auto card__ciclo"><img  style="filter: grayscale(1);" src="assets/img/ciclos/CicloIntensivo.png" alt=""
                                    class="img-fluid"></a>
                        </div>
                        <div class="card-body">
                            <h4 class="title card-title"><a>Ciclo Intensivo (Proceso Concluido)</a></h4>
                            <div class="intensivo">
                                <div class="d-flex justify-content-center ">
                                    <!-- <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                                        <a type="button" class="btn d-none" (click)="alertInscrpcion()"><i
                                                class="fas fa-graduation-cap "></i> grupo 1</a>
                                        <a type="button" class="btn " (click)="alertInscrpcion()"><i
                                                class="fas fa-graduation-cap"></i> grupo 1</a>
                                        <a routerLink="intensivo2" type="button" class="btn " disabled><i
                                                class="fas fa-graduation-cap"></i> Grupo 2</a>

                                    </div> -->
                                </div>
                            </div>
                            <p class="card-text">
                                Permite a nuestros alumnos adquirir competencias con relación a los temas y contenidos
                                de los syllabus de los exámenes de la UNI, de tal forma que finalizado el ciclo, puedan
                                rendir con mayores probabilidades de éxito, los exámenes de admisión a las diferentes
                                universidades del Perú.
                            </p>

                            <!-- <div class=" justify-content-center ">
                                <br>
                                <div class="d-flex  justify-content-center ">
                                    <a href="http://cepre.uni.pe/Inscripverano.php" type="button"
                                        class="btn btn-sm link__inscripcion">
                                        inscríbete</a>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="featured-services eventos">
        <div class="section-title">
            <h2><i class="fab fa-youtube"></i> Eventos recientes</h2>
        </div>
        <div class="slider">
            <div class="slide-track">
                <div class="slide" *ngFor="let evento of _eventos.eventos">
                    <img src="assets/img/eventos/{{evento.url}}.jpg" alt="">
                    <div class="carousel-item__details">
                        <a target="_blank" [href]="evento.enlace">
                            <h1><i class="fas fa-eye"></i> ver en YouTube</h1>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="about" class="about">
        <div class="container" data-aos="fade-up">

            <div class="row">
                <div class="col-lg-12">
                    <h3>¿POR QUÉ ESTUDIAR EN EL CEPREUNI?</h3>
                    <p class="font-italic">
                        Te compartimos algunas razones por las que estudiar en CEPREUNI es una de las mejores decisiones
                        que
                        tomarás en la vida.
                    </p>

                </div>


                <div class="col-lg-6">
                    <br>
                    <img src="assets/img/about.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 content">

                    <ul>
                        <li><i class="icofont-check-circled"></i>CEPREUNI es una institución educativa referente en la
                            formación
                            en ingeniería, ciencias y humanidades, que está orientada a la formación de los futuros
                            ingenieros,
                            arquitectos y
                            científicos que requiere nuestra sociedad.</li>
                        <li><i class="icofont-check-circled"></i>Nuestra institución convoca a los estudiantes
                            talentosos del Perú
                            y el extranjero, por lo que su competitividad y motivación están garantizadas dentro de
                            nuestra misión
                            para formar futuros líderes que transformen nuestra patria con visión de identidad
                            sociocultural,
                            sostenibilidad ambiental y compromiso social.</li>
                        <li><i class="icofont-check-circled"></i>Estudiar en Cepreuni garantiza que más del 67 % de
                            nuestras
                            estudiantes puedan acceder a la UNI y aborden con éxito su formación profesional.</li>
                        <li><i class="icofont-check-circled"></i>
                            CEPRE-UNI tiene el récord histórico que más del 10 % de su estudiantes accede a una Beca de
                            estudios.
                        </li>
                        <li><i class="icofont-check-circled"></i>De ingresar a la UNI, el alumno gozaría de
                            alimentación, seguro y
                            atención médica.</li>

                    </ul>

                </div>
            </div>

        </div>
    </section>
</main><!-- End #main -->
<div id="myModal" class="modal fade ">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header ">
                <h6 class="modal-title">Mensaje </h6>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body ">
                <div class="row d-flex justify-content-center">
                    <div class="col-12 col-sm-12 mt-2 ">
                        <div class="card">
                            <!-- <a href="https://cepreuni.net.pe/#/registro" target="_bank">
                            </a> -->
                           <a target="_bank" routerLink="/asesorias"> <img src="assets/img/ciclos/Asesoria.png" class="card-img-top" alt="Asesorías"></a>
                        </div>
                        <div class="modal-footer">
                            <!-- <a type="button" href="https://cepreuni.net.pe/#/registro" class="btn btn-primary">Inscribirse</a> -->
                        </div>
                    </div>
                    <!-- <div class="col-12 col-sm-6 mt-2">
                        <div class="card">
                            <a routerLink="/basico" target="_bank">
                            <img src="assets/img/comunicado/basico.jpeg" class="card-img-top" alt="Conversatorio">
                            </a>

                        </div>
                        <div class="modal-footer">
                           
                        </div>
                    </div> -->
                    <!-- <div class="col-12 col-sm-4 mt-2">
                        <div class="card">
                            <a href="https://cepreuni.net.pe/#/registro" target="_bank">
                                <img src="assets/img/comunicado/jueves.jpeg" class="card-img-top" alt="Conversatorio">
                            </a>
                           
                        </div>
                    </div> -->
                    <!-- <div class="card-body archivos__pre text-center">
                        <a href="https://cepreuni.net.pe/#/registro" target="_bank"
                            class="btn btn-sm">Quiero participar</a>
                    </div> -->

                </div>
            </div>
            <!-- <div class="modal-footer">
                <p>Míralo en vivo en los horario mostrados en el banner, por la red de Facebook. </p>
                <a type="button" href="https://www.facebook.com/UNIoficial.pe" class="btn btn-primary">Facebook</a>
            </div> -->
        </div>
    </div>
</div>