<main id="main">
    <div class="headeritems"></div>  <div class="cabeza"></div>
    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
    
      <div class="container">
        <ol>
          <li><a href="/index.html">Inicio</a></li>
          <li>contacto</li>
        </ol>
      </div>
    </section><!-- End Breadcrumbs -->

   <!-- ======= Contact Section ======= -->
   <section id="contact" class="contact">
    <div class="container">
      <div class="section-title">
        <h2>Contacto</h2>

      </div>

      <div class="row">

        <div class="col-lg-5 d-flex align-items-stretch">
          <div class="info">
            <div class="address">
              <i class="icofont-google-map"></i>
              <h4>Ubicación</h4>
              <p>Av. Túpac Amaru 210, Rímac</p>
            </div>

            <div class="email">
              <i class="icofont-envelope"></i>
              <h4>Correo</h4>
              <p>cepre@uni.edu.pe</p>
            </div>

            <div class="phone">
              <i class="icofont-phone"></i>
              <h4>Llamada y WhatsApp</h4>
              <p class="font-weight-bold">+51 992 473 523 <br> +51 944 414 234 <br> +51 968 259 548</p>
            </div>
            <div class="phone">
              <i class="icofont-phone"></i>
              <h4>Solo llamadas</h4>
              <p class="font-weight-bold">01 460 2407 <br> 01 461 1250 <br> 01 460 2419</p>
            </div>
            <div class="col-lg-3 col-md-6 footer-links">
            </div>
          </div>

        </div>

        <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
          <form action="forms/contact.php" method="post" role="form" class="php-email-form">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="name">nombres y apellidos</label>
                <input type="text" name="name" class="form-control" id="name" data-rule="minlen:4"
                  data-msg="Please enter at least 4 chars" />
                <div class="validate"></div>
              </div>
              <div class="form-group col-md-6">
                <label for="name">correo</label>
                <input type="email" class="form-control" name="email" id="email" data-rule="email"
                  data-msg="Please enter a valid email" />
                <div class="validate"></div>
              </div>
            </div>
            <div class="form-group">
              <label for="name">teléfono</label>
              <input type="text" class="form-control" name="subject" id="subject" data-rule="minlen:4"
                data-msg="Please enter at least 8 chars of subject" />
              <div class="validate"></div>
            </div>
            <div class="form-group">
              <label for="name">motivo</label>
              <input type="text" class="form-control" name="subject" id="subject" data-rule="minlen:4"
                data-msg="Please enter at least 8 chars of subject" />
              <div class="validate"></div>
            </div>
            <div class="form-group">
              <label for="name">mensaje</label>
              <textarea class="form-control" name="message" rows="10" data-rule="required"
                data-msg="Please write something for us"></textarea>
              <div class="validate"></div>
            </div>
            <div class="mb-3">
              <div class="loading">Cargando</div>
              <div class="error-message"></div>
              <div class="sent-message">Tu mensaje fue enviado. Thank you!</div>
            </div>
            <div class="text-center"><button type="submit">enviar mensaje</button></div>
          </form>
        </div>

      </div>

    </div>
  </section><!-- End Contact Section -->

  </main><!-- End #main -->