<main id="main">
<div class="headeritems"></div>
<div class="cabeza"></div>
    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">
        <ol>
          <li><a href="/index.html">Inicio</a></li>
          <li>Exámenes</li>
        </ol>
        <h2>Lista de exámenes </h2>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="portfolio-details-container">

          
        </div>

        <div class="portfolio-description">
         
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Periodo</th>
                <th scope="col">Trigonometría</th>
                <th scope="col">Química</th>
                <th scope="col">Geometría</th>
                <th scope="col">Aritmética</th>
                <th scope="col">Álgebra</th>
                
                <th scope="col">Física</th>
                
                
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">2020 - II</th>
                <td><a href="assets/descargas/examenes/Pgtas trigonometría.pdf" target="_blank" class="btn  btn-info"><i class="fas fa-arrow-circle-down"></i> Descarga</a></td>
                <td><a href="assets/descargas/examenes/Pgtas química.pdf" target="_blank"  class="btn  btn-info"><i class="fas fa-arrow-circle-down"></i> Descarga</a></td>
                <td><a href="assets/descargas/examenes/Pgtas Geometría.pdf"target="_blank"  class="btn  btn-info"><i class="fas fa-arrow-circle-down"></i> Descarga</a></td>
                <td>-</td>
                <td>-</td>
                <td>-</td>

              </tr>
              <tr>
                <th scope="row">2021 - I</th>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
              </tr>
              
            </tbody>
          </table>
          
        </div>

    </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->