<main id="main">
    <div class="headeritems"></div>
    <div class="cabeza"></div>
        <!-- ======= Breadcrumbs ======= -->
        <section id="breadcrumbs" class="breadcrumbs">
          <div class="container">
            <ol>
              <li><a href="/index.html">Inicio</a></li>
              <li>Webgrafía</li>
            </ol>
            <h2>Nuestras Webgrafía </h2>
    
          </div>
        </section><!-- End Breadcrumbs -->
    
        <!-- ======= Portfolio Details Section ======= -->
    
        
        <section id="portfolio-details" class="portfolio-details">
          <div class="container">
            <div class="row">
              <div class="col-sm-3">
                <div class="card" style="">
                  <img src="assets/img/webgrafia/fisicalab.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Física Lab</h5>
                    <p class="card-text">Plataforma de aprendizaje de Física y Matemáticas. La forma más cómoda, rigurosa y sencilla de aprender Física y Matemáticas.</p>
                    <a href="https://www.fisicalab.com/"  target="_blank" class="btn btn-info"><i class="far fa-window-restore"></i> Ir al sitio web</a>
                  </div>
                </div>
              </div>
    
              <div class="col-sm-3">
                <div class="card" style="">
                  <img src="assets/img/webgrafia/khanacademy.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Khan Academy</h5>
                    <p class="card-text">Organización sin fines de lucro, cuya misión es ofrecer educación gratuita de primer nivel para cualquier persona en cualquier lugar.</p>
                    <a href="https://es.khanacademy.org/"  target="_blank" class="btn btn-info"><i class="far fa-window-restore"></i> Ir al sitio web</a>
                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="card" style="">
                  <img src="assets/img/webgrafia/matematicas.png" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">3con14</h5>
                    <p class="card-text">Tiene como objetivo  generar una gran comunidad en el mundo. Presenta cursos gratis de matemáticas preuniversitarias: Aritmética, Álgebra, Geometría y Estadística.</p>
                    <a href="http://www.3con14.com/"  target="_blank" class="btn btn-info"><i class="far fa-window-restore"></i> Ir al sitio web</a>
                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="card" style="">
                  <img src="assets/img/webgrafia/matematicascercanas.png" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Matemáticas Cercanas</h5>
                    <p class="card-text">Presenta videos entretenidos y claros que explican la teoría y los ejercicios de diferentes temas de matemáticas preuniversitarias.</p>
                    <a href="https://matematicascercanas.com/"  target="_blank" class="btn btn-info"><i class="far fa-window-restore"></i> Ir al sitio web</a>
                  </div>
                </div>
              </div>
    
              <div class="col-sm-3">
                <div class="card" style="">
                  <img src="assets/img/webgrafia/quimica.png" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Química y Sociedad</h5>
                    <p class="card-text">Página web relacionada con los avances de la Química y sus aplicaciones en la Sociedad. Contiene libros de distribución gratuita relacionados con la divulgación científica de la Química.</p>
                    <a href="https://www.quimicaysociedad.org/"  target="_blank" class="btn btn-info"><i class="far fa-window-restore"></i> Ir al sitio web</a>
                  </div>
                </div>
              </div>
              
            </div>
          </div>
        </section><!-- End Portfolio Details Section -->
    
        
      </main><!-- End #main -->