<!-- <div>
  suscribete__pie__text
  <div class="suscribete__pie">
    <span class="suscribete__pie__text">Inscríbete</span>

    <div>
      <p class="mensaje__pruebaselecciom"><i class="icofont-bullhorn"></i> Utiliza correo gmail para inscribirte</p>
      <a  type="button" href="http://cepre.uni.pe/Inscripcion_Adm2022-1.php"
        class="suscribete__pie_btn btn  btn-sm">Prueba de Selección</a>
    </div>
  </div>

  <button type="button" (click)="alertInscrpcion()" class="suscribete__pie_btn btn  btn-sm">Prueba de Selección</button>

</div> -->
<!-- ======= Footer ======= -->
<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-lg-3 col-md-6 footer-contact">
          <h3>CEPRE-UNI</h3>

          <p>
            <strong>Vía llamada</strong><br>
            <i class="fas fa-phone-alt"></i> 01 460 2407<br>
            <i class="fas fa-phone-alt"></i> 01 461 1250<br>
            <i class="fas fa-phone-alt"></i> 01 460 2419<br><br>

            
          </p>

        </div>

        <div class="col-lg-3 col-md-6 footer-contact">
         

          <h4>Vía WhatsApp</h4>
          <p>
            <i class="fab fa-whatsapp"></i> +51 992 473 523<br>
            <i class="fab fa-whatsapp"></i> +51 944 414 234 <br>
            <i class="fab fa-whatsapp"></i> +51 968 259 548<br><br>
          </p>

        </div>
        <div class="col-lg-3 col-md-6 footer-contact">
         
            <h4>Correo</h4>
            <p>
            <strong><i class="fas fa-envelope"></i> cepre@uni.edu.pe</strong>
          </p>

        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Nuestras redes sociales</h4>
          <p>Conócenos más</p>
          <div class="social-links mt-3">

            <a href="https://www.facebook.com/CEPREUNI" target="_blank" class="facebook"><i
                class="bx bxl-facebook"></i></a>
            <a href="https://www.instagram.com/cepreunioficial/" target="_blank" class="instagram"><i
                class="bx bxl-instagram"></i></a>
            <a href="https://www.linkedin.com/company/cepreuni/" target="_blank" class="linkedin"><i
                class="bx bxl-linkedin"></i></a>
            <a href="https://www.youtube.com/channel/UCYC-faJ3SiETjewbMR8TUJg" target="_blank" class="linkedin"><i
                class="fab fa-youtube"></i></a>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="container footer-bottom clearfix">
    <div class="copyright">
      &copy; Copyright <strong><span>CEPRE-UNI</span></strong>. Todos los derechos reservados
    </div>
  </div>
</footer><!-- End Footer -->